<div class="container-fluid p-0">
  <main-navbar></main-navbar>

  <div class="p-3">

    <div class="h4 text-center mb-3">3D Telepresence</div>
    <div class="row">
      <div class="col">
        <h2>&nbsp;</h2>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-end px-3 mb-3">
    </div>
    <div class="container-fluid">
      <!-- Start Unity Code-->

      <!-- <div id="unity-container" class="unity-desktop">
                <div id="unity-fullscreen-button" ></div>
                <canvas id="unity-canvas" width=960 height=600></canvas>
                <div id="unity-loading-bar">
                  <div id="unity-logo"></div>
                  <div id="unity-progress-bar-empty">
                    <div id="unity-progress-bar-full"></div>
                  </div>
                </div>
               
              </div> -->

      <div id="unity-container" class="unity-desktop">
        <div id="unity-fullscreen-button" ></div>
        <canvas id="unity-canvas" width=960 height=600></canvas>
        <div id="unity-loading-bar">
          <div id="unity-logo"></div>
          <div id="unity-progress-bar-empty">
            <div id="unity-progress-bar-full"></div>
          </div>
        </div>
        <div id="unity-warning"> </div>
      </div>

      <!-- End Unity Code-->

    </div>

  </div>
</div>
  