ul.ui-autocomplete {
    color: red !important;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

span {
    padding-right: 19px !important;
}

 
.list-group
{
  
    border-radius: 25px !important;
    cursor: pointer;
}

.list-group li:hover {
    background: #ffa908;
}