<div class="container-fluid p-0">
    <main-navbar></main-navbar>

    <div class="p-3">

        <div class="h4 text-center mb-3">Data Visualization</div>
        <!-- <div class="row">
            <div class="col">
                <h2>&nbsp;</h2>
            </div>
        </div> -->
        
        <div class="container-fluid">
            <!-- Start Unity Code-->

            <div class="webgl-content1">
              
                <div id="unity-fullscreen-button-data" class="mb-1"></div>
                <div id="unityContainer"    style="width: 960px; height: 400px;">
                   
                </div>
                <!-- <div id="unityContainer" class="webgl-content" style="width: 100%; height: 80%; margin-top: 60px;"></div> -->
              </div>

            <!-- <div id="unity-container" class="unity-desktop">
                <div id="unity-fullscreen-button" class="mb-3"></div>
                <canvas id="unity-canvas" width=960 height=600></canvas>
                <div id="unity-loading-bar">
                    <div id="unity-logo"></div>
                    <div id="unity-progress-bar-empty">
                        <div id="unity-progress-bar-full"></div>
                    </div>
                </div>
                <div id="unity-warning"> </div>
            </div> -->

            <!-- End Unity Code-->

        </div>

    </div>
</div>
  