<div class="container-fluid">
   
    <form>  
           <div class="nav-link col-12">
                <form class="d-flex mb-3">
                <div class="input-group">
                    <input type="search" class="form-control" (search)="clear()" [(ngModel)]="Search" [ngModelOptions]="{standalone: true}" placeholder="Search" aria-label="Search" (keyup)="sendMessageToServer(sourceTextArea.value,$event)"  #sourceTextArea (keyup.enter)="searchQuery()"/>        
                    <div class="input-group-prepend">
                        <span class="input-group-text"><fa-icon icon="search" class="searchIcon" (click)="searchQuery()"></fa-icon></span>
                    </div>
                    <div class="input-group-prepend">
                        <span class="input-group-text"><fa-icon icon="microphone" class="microphoneIcon"></fa-icon></span>
                    </div>                  
                </div>
             
                </form>
            </div> 
            <div   class="nav-link col-12" class="suggestionsearch" >
                <app-resume-search-query-suggestions  #sourceTextAreaSuggestion (searchkeyvalue)="selectitemfromchild($event)"></app-resume-search-query-suggestions>
         
            </div>     
    </form>
        <div  class="resume-search-result" >
            
        <app-resume-search-result #resumeSearchResult></app-resume-search-result>
       
        </div>
    </div>

